@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    display: grid;
    place-items: center;
    align-content: center;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

#image{
    height: 50vh;
    width: 50vh;
}

#image1{
    height: 80vh;
    width: 50vh;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}